.Movie {
    height: 450px;
    width: calc(20% - 5px);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 45px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.Movie img {
    width: 220px;
    height: 325px;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.Movie:hover {
    scale: 1.1;
    color: black;
}

.Movie div {
    margin-bottom: 10px;
    border-radius: 15px;
}
